.nav {
	height: 70px;
}

body {
	background-image: url("https://sacramentovalleyconservancy.org/wp-content/uploads/2020/01/Untitled-design.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	background-attachment: fixed;
}
.center {
	position:fixed;
	margin: auto;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.background {
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
.fontColor {
	color: white;
}
.border {
	border-style: solid;
	border-width: medium;
	border-color: white;
}
.hidden{
	display:none;
	visibility: hidden;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.centerButton {
	margin: auto;
	width: 50%;
}
.centerText {
	align-text: justify;
}
